.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 4rem 5%;
  text-align: center; 
 
}



.aboutme h2 {
   font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(to right, #00FFFF, #00A3FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.aboutme p {
  width: 50%;
  max-width: 700px; 
  font-size: 1.1rem;
  color: ghostwhite;
  filter: brightness(20);
  line-height: 1.6;
}




@media screen and (max-width: 768px) {
  .aboutme h2 {
    font-size: 3rem;
  }

  .aboutme p {
    width: 80%;
    font-size: 1rem;
  }
}


@media screen and (max-width: 480px) {
  .aboutme h2 {
    font-size: 2.2rem;
  }

  .aboutme p {
    width: 90%;
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: start;
}


